Case sensitivity in the rules

Thanks for this great piece of software. It works really well.

A small question, how the rules should behave regarding the case of the queries? I have the impression that the rules are
case sensitive. Should it be the case?

Thanks for the feedback @adulau - appreciate it 😃.

That's a real good point you raise. Even after doing some research I don't yet have a simple answer. I'm going to jot down my notes here so I at least have a reference for myself while I figure out what nserver should implement.

If you have any experience / expertise / strong opinions on the matter, feel free to add them it 🙂 

**DNS Protocol ([RFC1035](https://www.rfc-editor.org/rfc/rfc1035.html))**
Strictly speaking the DNS protocol is designed to work using binary information ([s3.3.3](https://www.rfc-editor.org/rfc/rfc1035.html#section-3.3)). However, the standard also is clear in how this binary data is to be interpreted including case:

> **[2.3.3. Character Case](https://www.rfc-editor.org/rfc/rfc1035.html#section-2.3.3)**
> Name servers and resolvers must compare labels in a case-insensitive manner (i.e., A=a), assuming ASCII with zero parity.  Non-alphabetic codes must match exactly.
> When data enters the domain system, its original case should be preserved whenever possible.

> **[3.1. Name space definitions](https://www.rfc-editor.org/rfc/rfc1035.html#section-3.1)**
> Name servers and resolvers must compare labels in a case-insensitive manner (i.e., A=a), assuming ASCII with zero parity.  Non-alphabetic codes must match exactly.

This is further clarified in [RFC4343](https://www.rfc-editor.org/rfc/rfc4343.html).

**IDNA ([RFC5891](https://www.rfc-editor.org/rfc/rfc5891.html))**
IDNA allows for use of ASCII labels and Unicode labels in domain names and conversion between the two. This conversation can be lossy especially when mapping / normalising ([Unicode Technical Standard 46](https://unicode.org/reports/tr46/))

When specifying server side rules RFC5891 is more permissive:
> **[5.  Domain Name Lookup Protocol](https://www.rfc-editor.org/rfc/rfc5891.html#section-5)**
>  Lookup is different from registration and different tests are applied on the client.  Although some validity checks are necessary to avoid serious problems with the protocol, the lookup-side tests are more permissive and rely on the assumption that names that are present in the DNS are valid.  That assumption is, however, a weak one because the presence of wildcards in the DNS might cause a string that is not actually registered in the DNS to be successfully looked up.

This somewhat leads to the current state where "it just works the way that it does" which may vary between servers...

**0x20 Hardening** ([google developers](https://developers.google.com/speed/public-dns/docs/security#randomize_case)), [internet draft](https://datatracker.ietf.org/doc/html/draft-vixie-dnsext-dns0x20-00))
In an effort to improve the security of DNS over UDP, this draft aims to make it standard that name servers must respond to queries using the case of the query (since this was already common behaviour).

**nserver**
This leads to the question: how many guardrails nserver should have in place for ensuring that developers building on top of it can build servers that reliably interact with the rest of public DNS infrastructure. More guardrails will either result in a more restrictive library or a more configurable but complex library.

I think the first place to start is by expanding the query object so it exposes multiple forms of the the request such as:
- the raw / original request
- the request normalised / lowercased
- the request with any unicode in unicode (yay python3)

It may also be worth updating the record classes to also accept the Query object where the name would be provided which would allow the library to correct extract the original request in preparing the response.

Finally updating the rule objects so that they work on a specific form of the quest (probably unicode/normalised) (potentially setting this as a option).

On the theme of reliability I may want to consider adding a (default?) hook that ensures the name in the response's answer section matches the raw query.

What I've proposed above isn't perfect and doesn't stop developers writing rules that include upper case characters, and potentially this should come down to documentation / training rather than trying to prevent every bad use case. I don't exactly relish the thought of trying to normalise regexes... (though can probably do it for wildcard rules).

On balance, if developers really want to have case sensitive rules (especially if I've put up non-configurable guardrails) then it would be straight forward for them to do so.

I've decided to ignore dealing with IDNA for the moment. From my understanding, nserver /should/ only be receiving ascii (punycode) domains in queries so adding support for case insensitivity without IDNA support seems the most appropriate scope for the moment.

To this end, I've made rules be case insensitive by default* and added support to toggle this. This is available in `0.2.0` (https://github.com/nhairs/nserver/commit/6b6b15403db89e549bd43fc40788085283a4950d).

`*` - because regex rules receive compiled regex objects, they only support normalising the incoming queries when matching and **not** the original regex.

As of 628db055848c6543641d514b4186f8d953b6af7d (`v1.0.0`) `RegexRule`s now support the `case_sensitive` argument.

Rereading the [0x20 Hardening Draft](https://datatracker.ietf.org/doc/html/draft-vixie-dnsext-dns0x20-00), case sensitivity only applies in the question section of a message (opposed to answer, additional, or authority sections). Since we construct the actual DNS messages using `dnslib.DNSRecord.reply` the question section will be copied into the response with the correct case.

As such I believe we now by default support "standard" DNS request flows correctly.

Support for decoding unicode domains can go into a new issue when there is demand for it.